# Ignore specific file
demo.py

# Ignore all pickle files
*.pkl

# Ignore faiss_index directory (in root)
faiss_index/
faiss_index
.vscode/
__pycache__/

# Ignore .env file with secrets
.env

# Ignore virtual environment
venv/
